- var url = '/ezfiles/825/1825/img/1028/'

.page.container-fluid.brand-banner
  .row
    .col-xs-12
      img.img-responsive(src=url + "banner.png", alt="")
.page.container-fluid.brand-detail
  .row.text
    .row.col-xs-12
      p 阿巴廣它出上究不上常安有一感訴生表她一沒的運決士，吸滿國合當對步到總方的進專重己一來。克盡民男形如中錢，過大上成；樂可起與組經答也，生我車校本正來、改西開熱，木參善強是，企是從證機想得一時決學會見。
      p 一企黨任空園存方查處完，身語建人生是數兒。正人夜山息人？
      p 工西就水一線她城時收照往加實問花。了下專管去紀平然。要真臺們但天要，喜心突，收金無重開著性一指能，對他即出和不要年。教過化本例評破東……氣馬太實戲為、字一色空國民。
  .row.info
    .col-sm-4.col-xs-12
      .box
        a(href="")
          img.img-responsive(src=url + "brand-detail.png", alt="")
      figcaption 骰子貓 頂級紅樟芝機能主食罐
    .col-sm-4.col-xs-12
      .box
        a(href="")
          img.img-responsive(src=url + "brand-detail.png", alt="")
      figcaption 骰子貓 頂級紅樟芝機能主食罐
    .col-sm-4.col-xs-12
      .box
        a(href="")
          img.img-responsive(src=url + "brand-detail.png", alt="")
      figcaption 骰子貓 頂級紅樟芝機能主食罐
    .col-sm-4.col-xs-12
      .box
        a(href="")
          img.img-responsive(src=url + "brand-detail.png", alt="")
      figcaption 骰子貓 頂級紅樟芝機能主食罐
    .col-sm-4.col-xs-12
      .box
        a(href="")
          img.img-responsive(src=url + "brand-detail.png", alt="")
      figcaption 骰子貓 頂級紅樟芝機能主食罐
    .col-sm-4.col-xs-12
      .box
        a(href="")
          img.img-responsive(src=url + "brand-detail.png", alt="")
      figcaption 骰子貓 頂級紅樟芝機能主食罐