- var url = '/ezfiles/825/1825/img/1028/'
.prod-info
  p 全面調節免疫力
  p 添加1%紅樟芝，養生NO.1
  p 每罐淨量:80g


.prod-detail
  p.img
    img.img-responsive(src=url + "prod-detail-1.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-2.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-3.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-4.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-5.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-6.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-7.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-8.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-9.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-10.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-11.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-12.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-13.png", alt="")
  p.img
    img.img-responsive(src=url + "prod-detail-14.png", alt="")
.media
  .embed-responsive.embed-responsive-4by3
    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/K9-XarFDFVw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>