- var url = '/ezfiles/835/1835/img/1180/'

.page.container-fluid.online-contents
  .wrapper
    .row
      .col-xs-12.thumbs
        img.img-responsive.hidden-xs(src=url + "banner.png", alt="")
        img.img-responsive.visible-xs(src=url + "banner-m.png", alt="")
      .col-xs-12.scrollTo
        .box
          p.text-center
            a(href="javascript: void(0);") ENTER
    .row.owl#owl-wrapper
      .col-xs-12
        .owl-carousel
          .item
            a(href="")
              img.img-responsive(src=url + "aboutus-1.jpg", alt="")
          .item
            a(href="")
              img.img-responsive(src=url + "aboutus-2.jpg", alt="")
          .item
            a(href="")
              img.img-responsive(src=url + "aboutus-3.jpg", alt="")
          .item
            a(href="")
              img.img-responsive(src=url + "aboutus-4.jpg", alt="")
          .item
            a(href="")
              img.img-responsive(src=url + "aboutus-5.jpg", alt="")
          .item
            a(href="")
              img.img-responsive(src=url + "aboutus-3.jpg", alt="")