- var url = '/ezfiles/835/1835/img/1180/'

.page.container-fluid.about#section-1
  .wrapper
    .row.reverse
      .col-md-8.col-sm-12.col-xs-12.img
        img.img-responsive(src=url + "aboutus-1.jpg", data-aos="fade-left", data-aos-duration="1000" alt="")
      .col-md-4.col-sm-12.col-xs-12.text
        .content(data-aos="fade-up" data-aos-duration="1000")
          p(data-aos="fade-up" data-aos-duration="1500") 創立於1981年的時尚皮件品牌borsalini，30多年來，秉持「優質皮革、頂級手工、實用奢華」的品牌理念，及「時尚實用」為設計理念，將現代生活觀點融入皮件設計中，堅持選用上等真皮材質，延續傳統細膩的手工製作，打造時尚品味與實用並重的多元包款和時髦皮件，以滿足愛美女性不同的喜好，展現獨特的個人品味。
.page.container-fluid.about#section-2
  .wrapper
    .row
      .col-md-8.col-sm-12.col-xs-12.img
        img.img-responsive(src=url + "aboutus-2.jpg", data-aos="fade-right", data-aos-duration="1000" alt="")
      .col-md-4.col-sm-12.col-xs-12.text
        .content(data-aos="fade-up" data-aos-duration="1000")
          p(data-aos="fade-up" data-aos-duration="1500") borsalini經典“經典再現系列”，無懼時光如何變遷的經典，才能感受到生活的溫度和感動，沉穩中展現雅緻細節。讓經典的4b圖騰繼續傳述著她的優雅故事。
          p(data-aos="fade-up" data-aos-duration="1500") 
            | borsalini專屬4b LOGO時尚設計圖騰，分別代表
            br
            | best (品質最好的)
            br
            | beauty (最美麗時尚)
            br
            | bright (最亮眼聰穎)
            br
            | bag (精品包)
            br
            | 意指「一只borsalini精品包，就是最亮眼、最美麗的時尚LOOK！」
          p(data-aos="fade-up" data-aos-duration="1500") 傳達生活中的每一個小細節，都是可以自我時尚的表現，女人最具有魅力的就是百變風格，無論是時髦摩登、還是甜美個性，在borsalini都能找到屬於你的獨特風格，展現品牌多元時尚的態度。
.page.container-fluid.about#section-3
  .wrapper
    .row.reverse
      .col-md-8.col-sm-12.col-xs-12.img
        .owl-carousel(data-aos="fade-left", data-aos-duration="1000")
          .item
            img.img-responsive(src=url + "aboutus-3.jpg", alt="")
          .item
            img.img-responsive(src=url + "aboutus-4.jpg", alt="")
      .col-md-4.col-sm-12.col-xs-12.text
        .content(data-aos="fade-up" data-aos-duration="1000")
          p(data-aos="fade-up" data-aos-duration="1500") 2020秋冬限定騎士貓頭鷹主題壓版，化身為不敗的戰士，以可以戰勝一切的信念和勇氣，戴上頭盔，戰鬥生活中的每個逆境。
          p(data-aos="fade-up" data-aos-duration="1500") 希臘神話中，主宰智慧及人文的雅典娜女神最喜愛貓頭鷹，並將牠視為「神聖之鳥」，而在羅馬神話中的主宰智慧及工藝發明的米諾娃女神，身旁也緊緊跟隨著一隻貓頭鷹，因此貓頭鷹在西方文化中就被視為智慧的象徵並且是夜晚的掌控者。在日本及印度更是將貓頭鷹視為神的使者及財神的化身。
.page.container-fluid.about#section-4
  .wrapper
    .row
      .col-md-8.col-sm-12.col-xs-12.img
        img.img-responsive(src=url + "aboutus-5.jpg", data-aos="fade-right", data-aos-duration="1000" alt="")
      .col-md-4.col-sm-12.col-xs-12.text
        .content(data-aos="fade-up" data-aos-duration="1000")
          p(data-aos="fade-up" data-aos-duration="1500")
            | AMAZONES MUSE
            br
            | 現代的騎士精神，馳騁自由的靈魂
          p(data-aos="fade-up" data-aos-duration="1500") 高尚的情操與美德是它的夢想境界，擁有它使人變得高貴。努力在各方面都得到提升，風格化身完美的單品，強調美感的創造與欣賞沒有單一，在行走間勇敢。具有騎士風範，在生活中勇於面對各種挑戰，任何場合都能贏得勝利。
          p(data-aos="fade-up" data-aos-duration="1500") 2020秋冬，borsalini將騎士靈魂注入其中，極具傳奇完美混合了當代新時尚。