- var url = '/ezfiles/825/1825/img/1028/'

.page.container-fluid.aboutus
  .row
    .col-xs-12.module-title
      h4.title 企業文化
      h5.sub-title -CORPORATE CULTURE-
    .col-xs-12.content
      h5.content-title 雍容不迫，傲然屹立
      p 雍立於1977年成立。初期代理實驗動物飼料、成為動物園營養補充品供應商，接著跨足大眾寵物飼料市場。雍立追求「樸實」、「誠信」、「永續」的信念。我們堅守品質，讓毛小孩吃的實在、安心；待廠商和消費者如家人，信守承諾、真誠以待，超越40年，邁向一甲子，將對毛小孩的愛傳承下去。
      .row
        .col-sm-6.col-xs-12
          img.img-responsive(src="urlaboutut-1.png", alt="")
        .col-sm-6.col-xs-12
          img.img-responsive(src="urlaboutut-2.png", alt="")
  .row
    .col-xs-12.module-title
      h4.title 關於雍立
      h5.sub-title -ABOUT US-
    .col-xs-12.content
      h5.content-title 因為在乎，所以投入
      p 雍立的標誌，是來自於「天然」和「熱情」。綠色，代表著純淨，以最天然的食品給毛小孩，吃得安心、健康是我們最在乎的。橘色，代表著熱情，從內心散發出對於寵物的愛，以熱情和專業來讓寵物健康的長大。
      .row
        .col-sm-4.col-xs-12
          img.img-responsive(src="urlurlaboutut-3.png", alt="")
        .col-sm-4.col-xs-12
          img.img-responsive(src="urlurlaboutut-4.png", alt="")
        .col-sm-4.col-xs-12
          img.img-responsive(src="urlurlaboutut-5.png", alt="")
  .row
    .col-xs-12.module-title
      h4.title 經營理念
      h5.sub-title -BUSINESS CONCEPT-
    .col-xs-12.content
      h5.content-title 立足台灣，展望世界
      p 只要有人類就會有寵物，寵物在這個世界上，已經有千年的歷史了。我們時刻關心、堅持給毛小孩最好的，隨時跟著世界的潮流來做改良。以雍立這麼多年的經驗和對市場的了解，將優良的產品拓展到全世界，是我們持續努力的目標。
  .row.contact-content
    .col-xs-12.module-title
      h4.title 聯絡我們
      h5.sub-title -CONTACT US-
    .col-xs-12.content
      .row
        .col-sm-4.col-xs-12
          p
            span.svg(style="background:url("+url+"foot-icon-1.svg);")
            | 電話：
            a(href="tel: (02)2693-3322") (02)2693-3322
          p
            span.svg(style="background:url("+url+"foot-icon-2.svg);")
            | 傳真：(02)2693-3865
          p
            span.svg(style="background:url("+url+"foot-icon-3.svg);")
            | E-MAIL：
            a(href="mailto: youngly@ms34.hinet.net") youngly@ms34.hinet.net
          p
            span.svg(style="background:url("+url+"foot-icon-4.svg);")
            | 地址：新北市汐止區福德一路392巷23號
        .col-sm-4.col-xs-12
          p
            span.svg(style="background:url("+url+"foot-icon-1.svg);")
            | TEL：
            a(href="tel: (02)2693-3322") (02)2693-3322
          p
            span.svg(style="background:url("+url+"foot-icon-2.svg);")
            | FAX：(02)2693-3865
          p
            span.svg(style="background:url("+url+"foot-icon-3.svg);")
            | E-MAIL：
            a(href="mailto: youngly@ms34.hinet.net") youngly@ms34.hinet.net
          p
            span.svg(style="background:url("+url+"foot-icon-4.svg);")
            | ADDRESS：新北市汐止區福德一路392巷23號
        .col-sm-4.col-xs-12
          img.img-responsive(src="urlurlaboutut-6.png", alt="")
  .row
    .col-xs-12.module-title
      h4.title 旗下品牌
      h5.sub-title -BRAND-
    .col-xs-12.content
      .row
        .col-sm-3.col-xs-6
          .box
            a(href="")
              img.img-responsive(src=url + "section-4-img-1.png", alt="")
        .col-sm-3.col-xs-6
          .box
            a(href="")
              img.img-responsive(src=url + "section-4-img-2.png", alt="")
        .col-sm-3.col-xs-6
          .box
            a(href="")
              img.img-responsive(src=url + "section-4-img-3.png", alt="")
        .col-sm-3.col-xs-6
          .box
            a(href="")
              img.img-responsive(src=url + "section-4-img-4.png", alt="")
        .col-sm-3.col-xs-6
          .box
            a(href="")
              img.img-responsive(src=url + "section-4-img-5.png", alt="")
        .col-sm-3.col-xs-6
          .box
            a(href="")
              img.img-responsive(src=url + "section-4-img-6.png", alt="")