- var url = '/ezfiles/835/1835/img/1180/'
.banner.container-fluid
	.row
		.col-xs-12
			| ===MODULE===
			//- .text-content
			//- 	.content
			//- 		img.img-responsive(src=url + "banner-text.png", alt="")
			//- .owl-carousel.hidden-xs
			//- 	.item
			//- 		img.img-responsive(src=url + "banner.png", alt="")
			//- 	.item
			//- 		img.img-responsive(src=url + "banner.png", alt="")
			//- 	.item
			//- 		img.img-responsive(src=url + "banner.png", alt="")
			//- 	.item
			//- 		img.img-responsive(src=url + "banner.png", alt="")
			//- 	.item
			//- 		img.img-responsive(src=url + "banner.png", alt="")
			//- .owl-carousel.visible-xs
			//- 	.item
			//- 		img.img-responsive(src=url + "banner-m.png", alt="")
			//- 	.item
			//- 		img.img-responsive(src=url + "banner-m.png", alt="")
			//- 	.item
			//- 		img.img-responsive(src=url + "banner-m.png", alt="")
			//- 	.item
			//- 		img.img-responsive(src=url + "banner-m.png", alt="")
			//- 	.item
			//- 		img.img-responsive(src=url + "banner-m.png", alt="")