- var url = '/ezfiles/802/1802/img/644/'
.banner.container-fluid
	.row
		.col-xs-12
			.text-content.hidden-xs
				.content
					span.svg(style="background:url("+url+"banner-text-1.svg); width: 46px; height: 43px;")
					span.svg(style="background:url("+url+"banner-text-2.svg); width: 46px; height: 43px;")
					span.svg(style="background:url("+url+"banner-text-3.svg); width: 46px; height: 43px;")
					span.svg(style="background:url("+url+"banner-text-4.svg); width: 46px; height: 43px;")
					span.margin-right
					span.svg(style="background:url("+url+"banner-text-5.svg); width: 46px; height: 43px;")
					span.svg(style="background:url("+url+"banner-text-6.svg); width: 46px; height: 43px;")
					span.svg(style="background:url("+url+"banner-text-7.svg); width: 46px; height: 43px;")
					span.svg(style="background:url("+url+"banner-text-8.svg); width: 46px; height: 43px;")
					br
					span.svg(style="background:url("+url+"banner-text-9.svg); width: 46px; height: 43px;")
					span.svg(style="background:url("+url+"banner-text-10.svg); width: 46px; height: 43px;")
					span.svg(style="background:url("+url+"banner-text-11.svg); width: 46px; height: 43px;")
					span.svg(style="background:url("+url+"banner-text-12.svg); width: 46px; height: 43px;")
					span.svg(style="background:url("+url+"banner-text-13.svg); width: 46px; height: 43px;")
					span.svg(style="background:url("+url+"banner-text-14.svg); width: 46px; height: 43px;")
			.owl-carousel.hidden-xs
				.item
					img.img-responsive(src=url + "banner.png", alt="")
				.item
					img.img-responsive(src=url + "banner.png", alt="")
				.item
					img.img-responsive(src=url + "banner.png", alt="")
			.owl-carousel.visible-xs
				.item
					img.img-responsive(src=url + "banner-m.jpg", alt="")
				.item
					img.img-responsive(src=url + "banner-m.jpg", alt="")
				.item
					img.img-responsive(src=url + "banner-m.jpg", alt="")