- var url = '/ezfiles/825/1825/img/1028/'

.idx.container-fluid.section-4
  .row
    .col-xs-12.module-title
      h4.title 粉絲專頁
      h5.sub-title - FACEBOOK -
  .row
    .col-xs-12
      .owl-carousel
        .item
          a(href="")
            span.box
              img.img-responsive(src=url + "section-4-img-1.png", alt="")
        .item
          a(href="")
            span.box
              img.img-responsive(src=url + "section-4-img-2.png", alt="")
        .item
          a(href="")
            span.box
              img.img-responsive(src=url + "section-4-img-3.png", alt="")
        .item
          a(href="")
            span.box
              img.img-responsive(src=url + "section-4-img-4.png", alt="")
        .item
          a(href="")
            span.box
              img.img-responsive(src=url + "section-4-img-5.png", alt="")
        .item
          a(href="")
            span.box
              img.img-responsive(src=url + "section-4-img-6.png", alt="")