- var url = '/ezfiles/835/1835/img/1180/'

.idx.container-fluid.section-1
  .row
    .col-xs-12(data-aos="fade")
      .owl-carousel
        .item
          a(href="")
            img.img-responsive(src=url + "section-1-img-1.png", alt="")
        .item
          a(href="")
            img.img-responsive(src=url + "section-1-img-2.png", alt="")
        .item
          a(href="")
            img.img-responsive(src=url + "section-1-img-3.png", alt="")
        .item
          a(href="")
            img.img-responsive(src=url + "section-1-img-1.png", alt="")
        .item
          a(href="")
            img.img-responsive(src=url + "section-1-img-2.png", alt="")
        .item
          a(href="")
            img.img-responsive(src=url + "section-1-img-3.png", alt="")