- var url = '/ezfiles/825/1825/img/1028/'

.idx.container-fluid.section-3
  .row
    .col-xs-12.module-title
      h4.title 熱門商品
      h5.sub-title - PRODUCT -
  .row
    .col-xs-12
      .owl-carousel
        .item
          a(href="")
            .content
              .box
                img.img-responsive(src=url + "section-3-img-1.png", alt="")
              figcaption 泌尿保健化毛配方-挑嘴成貓
        .item
          a(href="")
            .content
              .box
                img.img-responsive(src=url + "section-3-img-2.png", alt="")
              figcaption 袋鼠肉&羊肉 低脂/ 低敏配方
        .item
          a(href="")
            .content
              .box
                img.img-responsive(src=url + "section-3-img-3.png", alt="")
              figcaption 頂級紅樟芝機能主食罐-吻仔魚
        .item
          a(href="")
            .content
              .box
                img.img-responsive(src=url + "section-3-img-4.png", alt="")
              figcaption 漁極幼貓慕斯罐-雞肉口味
        .item
          a(href="")
            .content
              .box
                img.img-responsive(src=url + "section-3-img-5.png", alt="")
              figcaption 5M21高纖陸龜飼料
