- var url = '/dist/images/'

.idx.container-fluid.section-3
  .row
    .col-xs-12
      .module-title
        h4.title 產品介紹
        h4.sub-title PRODUCTS
  .row.list-content
    .col-sm-4.col-xs-12
      a(href="")
        img(src=url + "section-3-img-1.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img(src=url + "section-3-img-2.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img(src=url + "section-3-img-3.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img(src=url + "section-3-img-4.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img(src=url + "section-3-img-5.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img(src=url + "section-3-img-6.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img(src=url + "section-3-img-7.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img(src=url + "section-3-img-8.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img(src=url + "section-3-img-9.png", alt="")