- var url = '/images/'
.banner.container-fluid
	.row
		.col-xs-12
			//- 	.content
			//- 		img.img-responsive(src=url + "banner-text.png", alt="")
			.swiper-container.hidden-xs
				.swiper-wrapper
					.swiper-slide
						img.img-responsive(src=url + "banner-1.png", alt="")
						.text-content
							.box
								h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis facilis natus ipsum expedita totam praesentium pariatur repudiandae quaerat excepturi, enim ut nihil doloribus atque consequuntur sed in consequatur optio!
					.swiper-slide
						img.img-responsive(src=url + "banner-2.png", alt="")
						.text-content
							.box
								h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis facilis natus ipsum expedita totam praesentium pariatur repudiandae quaerat excepturi, enim ut nihil doloribus atque consequuntur sed in consequatur optio!
					.swiper-slide
						img.img-responsive(src=url + "banner-3.png", alt="")
						.text-content
							.box
								h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis facilis natus ipsum expedita totam praesentium pariatur repudiandae quaerat excepturi, enim ut nihil doloribus atque consequuntur sed in consequatur optio!
				//- .swiper-button-next
				//- .swiper-button-prev
			.swiper-container.visible-xs
				.swiper-wrapper
					.swiper-slide
						img.img-responsive(src=url + "banner-1.png", alt="")
					.swiper-slide
						img.img-responsive(src=url + "banner-2.png", alt="")
					.swiper-slide
						img.img-responsive(src=url + "banner-3.png", alt="")
				//- .swiper-button-next
				//- .swiper-button-prev